*{
    margin:0;
    padding:0;
}
body{
    background-color:aquamarine;
}
#header{
    background-color:blue;
    width:100%;
    height:auto;
    
}
#header h1{
    font-family:'Times New Roman', Times, serif;
    font-weight:700;
    font-size:3em;
    text-align:center;
    color:#ffffff;
    padding:20px 40px;
    text-transform:capitalize;
}
#manue{
    background-color:#dddddd;
    width:100%;
}
#manue ul{
    list-style-type:none;
    padding:20px 0px;
    overflow:hidden;
}
#manue ul li{
    display:block;
    float:left; 
}
#manue ul li a{
    text-decoration:none;
    font-size:20px;
    color:red;
    padding:10px 15px;  
}

#content-area{
    width:100%;
    display:block;
    margin:0px 20px;
}
.content{
    width:25%;
    display:block;
    overflow:hidden;
    float:left;
    background:#888; 
}
.content .content-img{
    width:300px;
    height:300px;
    background-repeat:no-repeat;
    
}